  <u><p> <strong> Comments : </strong> </p></u>
    <% @article.comments.each do |c| %>
   <p>  
      <strong><%= c.user.username %></strong>
    </p>
    <p>
    <%= c.body %>
  </p>
  <%if c.user_id == current_user.id %>
    <%= link_to 'Destroy comment' , [c.article,c],method: :delete, data: {confirm: 'are you sure?' }%>
    <%end%>
    <%end%>
  </p>
