	<p> <strong> Comments : </strong> 
		<% @article.comments.each do |c| %>
			<p>
			<strong> Commenter: </strong>
			<%= c.commenter %>
		</p>
		<p>
		<strong> Comment: </strong>
		<%= c.body %>
		</p>
    <p>
		<%= link_to 'Delete' , [c.article,c],method: :delete, data: {confirm: 'are you sure?' }, class: "comment_delete"%>
	</p>
	<hr></hr>
	<%end%>
	</p>
	