<nav style="background-color:black", class="navbar navbar-default bg-dark">
  <div class="container-fluid">
    <div id="links" class="navbar-header">
      <a class="navbar-brand" href="#">Loconav</a>
    </div>
    <ul id="links" class="nav navbar-nav">
      <li><a href="#">Home</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Blogs</a></li>
    </ul>
  </div>
</nav>